<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light px-2">
    <div class="container container-fluid " style="margin:0 50px;">
      <a class="navbar-brand" href="#">Orgânicos</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Produtos
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="/cadastro">Cadastrar produtos</a></li>
              <li><a class="dropdown-item" href="/listar_produtos">Lista de produtos</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Vendas
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="/vendas">Lista</a></li>
              <li><a class="dropdown-item" href="/carrinho">Carrinho</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link " href="/relatorio" id="navbarDropdown" role="button" aria-expanded="false">
              Extrato
            </a>

          </li>
          <form class="d-flex">
            <button class="btn btn-outline-dark" type="submit">
                <i class="bi-cart-fill me-1"></i>
                Carrinho
                <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
            </button>
        </form>
        </ul>
      </div>
    </div>
  </nav> -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-5 ">
        <a class="navbar-brand" href="/">Orgânicos</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="/">Home</a></li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Produtos</a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="/cadastro">Cadastrar produtos</a></li>
                      <li><a class="dropdown-item" href="/listar_produtos">Listar produtos</a></li>
                      <!-- <li><a class="dropdown-item" href="#!">New Arrivals</a></li> -->
                  </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Vendas</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/vendas">Produtos</a></li>
                        <li><a class="dropdown-item" href="/carrinho">Carrinho</a></li>
                        <!-- <li><a class="dropdown-item" href="#!">New Arrivals</a></li> -->
                    </ul>
                </li>
                <li class="nav-item"><a class="nav-link" href="/relatorio">Relatório</a></li>
            </ul>
                <a href="/carrinho" class="btn btn-outline-dark" style="text-decoration:none;" >
                    Carrinho
                    <div class="badge bg-dark text-white ms-1 rounded-pill">
                      {{carrinho|length}} 
                    </div>
                </a> 
        </div>
    </div>
</nav>